section{
    display: flex;
    width: 900px;
    height: 585px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
img {
    border-radius: 20px 50px;
    border-radius: 50%;
    border: 4px solid #000;    
  }
  
body{
    background-color: palevioletred;
}

.my-button {
    margin-left: 1150px; /* ajusta este valor según lo que necesites */
  }
  
  .my-button {
    text-align: center; /* Centra el botón horizontalmente */
    vertical-align: middle; /* Centra el botón verticalmente */
    position: relative; /* Habilita la posición relativa para ajustar la posición */
    top: -325px; /* Mueve el botón 20 píxeles hacia arriba */
    margin-top: 80px; /* Agrega un margen superior de 20 píxeles */
  }

  .my-button {
    background-color: #4CAF50; /* Agrega un color de fondo */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    border: none; /* Elimina el borde */
    color: white; /* Cambia el color del texto a blanco */
    font-size: 18px; /* Ajusta el tamaño de la fuente */
    padding: 10px 20px; /* Agrega un espacio interno */
  }

  .contenedor {
    text-align: center;
  }

  body{
    background-image: url('https://media.ambito.com/p/7d12f2874cdf2de87db1d2a557335e9b/adjuntos/239/imagenes/039/334/0039334115/730x0/smart/emojijpg.jpg');
    background-repeat: no-repeat;
			background-size: cover;
  }

  h1 {
    color: red;
  }

  












   /* Estilos para dispositivos grandes */
   h1 {
    font-size: 36px;
  }
  
  /* Estilos para dispositivos medianos */
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  }
  
  /* Estilos para dispositivos pequeños */
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 18px;
    }
  }
  
  
